extends layout

block content
  section.contact
    div.contactHead
      h1 Contacts
    div.contactItems
      div.mail
        h2 By E-mail
        p blah_blah@bluh.com
      div.phone
        h2 By Phone
        p Call us on this number:
        p 0198729436
      div.liveChat
        h2 Live Chat
        p Chat with one of our
        p Team members