extends layout

block content
  section.service
    div.serviceHead
      h1 Services
    div.serviceItems
      div.consultation
        h2 Consultation
        p We have some of the best
        p Consultant teams around the world
      div.idea
        h2 Best Ideas
        p We can help you
        p with great ideas for your project
      div.third
        h2 Last and best Service
        p Want to know click to find out
        p (If you can)